{% extends "layout.twig"%}

{% block content %}

    <ul>
        {% for item in feed %}
            <li>
                <h4><a href=" {{ item.link }}" target="_blank">{{ item.title }}</a></h4>
                <p>{{ item.pubDate|date("D, F jS \\a\\t g:ia") }}</p>
                   {{ item.description|striptags('<img><a><p><br>')|raw }}
                   {{ item.summary }}
                   {{ item.content|striptags('<img><a><p><br>')|raw }}
            </li>
        {% endfor  %}
    </ul>

{% endblock %}
